<header class="site-header">

  <!-- Header section left -->
  <div class="header-left">
    <div class="site-title">
      <a
        href={{ "/" }}>{{ metadata.author.name }}
      </a>
    </div>
  </div>

  <!-- Header section center -->
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="main-nav">
    <ul class="nav-list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li>
          <a href="{{ entry.url }}" 
             {% if entry.url == page.url %}
               class="active"
               aria-current="page"
             {% endif %}>
            {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>

  <!-- Header section right-->
  <div class="header-right">
    <!-- Using an icon as a link (example with Font Awesome) -->
    <a class="icon-link" href="/search" title="Search"><i class="fa-solid fa-magnifying-glass"></i></a>
    <!-- Dark Mode Toggle -->
    <button type="button" class="dark-mode-toggle" id="darkModeToggle" title="Toggle Dark/Light Mode">
      <i class="fa-solid fa-sun light-icon"></i>
      <i class="fa-solid fa-moon dark-icon"></i>
    </button>
  </div>

</header>
