<!DOCTYPE html>
<html lang="{{ metadata.lang or 'en' }}" data-theme="system">
  {% include "head.njk" %}
  <body>
    {% include "header.njk" %}
    <main aria-label="Content">
      <div>
        {{ content | safe }}
      </div>
    </main>
    {% include "footer.njk" %}

    <!-- Include analytics in production -->
    {% if kitsDna.environment == 'production' %}
    {% include "simple-analytics.njk" %}
    {% endif %}

    <!-- Include the dark-mode.js file -->
    <script src="/assets/js/dark-mode.js" defer></script>
  </body>
</html>
