---
layout: base.njk
---
<article>
  <header>
    <meta data-pagefind-filter="content[content]" content="pages">
    <h1>{{- title -}}</h1>
  </header>
  <div>
    {{ content | safe }}
  </div>
</article>
