---
layout: base.njk
---
<article class="post">
  <header class="post-header">
    <meta data-pagefind-filter="content[content]" content="pages">
    <h1 class="post-title">{{- title -}}</h1>
  </header>
  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
