---
layout: base.njk
---
<style>{% include "node_modules/prismjs/themes/prism-tomorrow.css" %}</style>
<article>
  <header>
    <meta name="fediverse:creator" content="@makendon@mastodon.social">
    <meta data-pagefind-filter="content[content]" content="posts">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <p>
    🖊️ {{ metadata.author.name }}
    </p>
    <div>
      <p>📅&nbsp;{{ page.date | dateFormat }}&nbsp; |&nbsp; {% include "reading-time.njk" %}</p>
    </div>
      <div>
        {% if tags %}
        <p>🏷️&nbsp;
          {%- for tag in tags | filterTagList -%}
            <a href="/tags/{{ tag | slugify }}/"data-pagefind-filter="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {%- endfor -%}
        </p>
      </div>
    {% endif %}
  </header>
  <div>
    {{ content | safe }}
  </div>
  <footer>
    {%- if collections.posts %}
    {%- set previousPost = collections.posts | getPreviousCollectionItem %}
    {%- set nextPost = collections.posts | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
    <ul class="links-nextprev">
      {%- if previousPost %}<li class="links-nextprev-prev">&larr; Previous post<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	    {%- if nextPost %}<li class="links-nextprev-next">Next post &rarr;<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
    </ul>
    {%- endif %}
    {%- endif %}
    <div class="back-to-top">
      &uarr; 
      <a href="#top" class="back-to-top">Back to top</a>
    </div>
</article>
