@use 'variables' as vars;
@use 'mixins';

// Modern CSS reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base elements
body {
  font: vars.$base-font-weight #{vars.$base-font-size}/#{vars.$base-line-height} vars.$base-font-family;
  color: vars.$text-color;
  background-color: vars.$background-color;
  text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding-top: 10px;
  margin-top: 1em;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  color: vars.$brand-color;
  font-family: vars.$home-font-family;
  font-weight: 500;
  margin-top: vars.$spacing-unit;
  margin-bottom: calc(vars.$spacing-unit / 2);
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }

p {
  margin-bottom: 0.5em;
  color: vars.$text-color;
  font-family: vars.$base-font-family;
  font-size: vars.$base-font-size;
}

// Lists
ol, ul {
  font-family: vars.$base-font-family;
  font-size: vars.$base-font-size;
  padding-left: calc(vars.$spacing-unit / 2);
}

li:last-child {
  margin-bottom: calc(vars.$spacing-unit / 2);
}

// Links
a {
  color: vars.$link-color;
  text-decoration: underline;
  font-weight: 500;

  &:hover { text-decoration: underline; }
  &:visited { color: vars.$link-color-visited; }
}

// Code
code {
  background-color: vars.$grey-color-v-light;
  color: vars.$text-color;
  font-family: vars.$code-font-family;
  font-size: vars.$small-font-size;
  line-height: 1;
  padding: 1px 5px;
  border-radius: 3px;
}

// Blockquotes
blockquote {
  background-color: vars.$grey-color-v-light;
  color: vars.$grey-color-dark;
  border-left: 8px solid #004225;
  padding: calc(vars.$spacing-unit / 2);
  margin: calc(vars.$spacing-unit / 2) 0;

  > :last-child { margin-bottom: 0; }
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: calc(vars.$spacing-unit / 2) 0;
  border-radius: 1%;
}

svg {
  display: inline;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}

// Tables
table {
  width: 100%;
  margin-bottom: vars.$spacing-unit;
  border-collapse: collapse;
  border: 1px solid vars.$grey-color-light;
  
  th {
    background-color: vars.$table-th-background-color;
    border: 1px solid vars.$table-th-border-color;
  }
  
  td { border: 1px solid vars.$grey-color-light; }
  
  th, td { padding: calc(vars.$spacing-unit / 3) calc(vars.$spacing-unit / 2); }
  
  tr:nth-child(even) { background-color: vars.$grey-color-v-light; }
}

// Wrapper
.wrapper {
  max-width: calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
  margin: 0 auto;
  padding: 0 vars.$spacing-unit;
  
  @include mixins.media-query(vars.$laptop) {
    max-width: calc(#{vars.$content-width} - #{vars.$spacing-unit});
    padding: 0 calc(vars.$spacing-unit / 2);
  }
}
