// Layout styles

@use 'variables' as vars;
@use 'mixins';

/* Site header */
.site-header {
  @include mixins.flex-center;
  justify-content: space-between;
  box-shadow: vars.$shadow-default;
  background-color: vars.$head-foot-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.22em;
}

.header-left {
  @include mixins.header-section;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-left: 2rem;
}

.site-logo {
  height: 2.5rem;
  width: auto;
}

.site-title {
  font-family: vars.$home-font-family;
  font-size: vars.$base-font-size;

  a {
    color: vars.$brand-color;
    font-weight: 500;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: vars.$brand-color;
  }
}

.header-center {
  @include mixins.flex-center;
  flex: 1 1 50%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  cursor: pointer;
  padding: 1rem;

  span {
    display: block;
    width: 25px;
    height: 2px;
    background: vars.$brand-color;
    margin: 5px 0;
    transition: 0.3s;
  }
}

.main-nav {
  display: flex;
  justify-content: center;
  background-color: vars.$head-foot-color;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    font-size: vars.$small-font-size;
    text-decoration: none;
    color: vars.$brand-color;
    font-weight: 500;
    transition: color 0.2s;
  }

  a:hover {
    color: vars.$brand-color;
    text-decoration: underline;
  }
  
  a:visited {
    color: vars.$brand-color;
  }

  a.active {
    color: vars.$brand-color;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 600;
  }

}

.header-right {
  @include mixins.header-section;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 2rem;
}

// Mobile styles using a single media query
@media (max-width: 768px) {
  .site-title {
    display: none;
  }

  .header-center {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: vars.$head-foot-color;
    padding: 1rem;
    box-shadow: vars.$shadow-default;
  }

  .nav-list {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .nav-toggle-label {
    display: block;
    position: absolute;
    right: 1rem;
    z-index: 2;
  }

  .main-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    text-align: center;
  }

  .nav-toggle:checked ~ .main-nav {
    height: auto;
    box-shadow: vars.$shadow-default;
  }

  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header-right {
    margin-right: 6rem;
  }
}

/* Hero Button */
.btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  max-width: 400px;  // Adjust this value as needed
  margin: 0 auto; // Center the buttons
}

.btn {
  display: inline-block;
  width: 125px;
  border: 3px solid white;
  padding: 0.5em;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-family: vars.$home-font-family;
  font-size: vars.$base-font-size;
  font-weight: vars.$base-font-weight;
  border-radius: 20px;
  background-color: vars.$brand-color;
  border-color: vars.$brand-color;

  &:hover {
    transform: scale(1.2);
  }
}

a.btn {
  color: vars.$brand-color-alt;
  text-align: center;
  text-decoration: none;
}

/* Homepage */
.homepage {
  max-width: 1000px;
  width: 100%;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
  color: vars.$brand-color;
  background-color: vars.$background-color;
  margin: 0 auto;

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

/* Default font sizes for larger screens */
.homepage h1 {
  font-family: vars.$home-font-family;
  font-size: 3.72em; // Large heading
  font-weight: 500;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -25px;
}

.homepage h2 {
  font-family: vars.$home-font-family;
  font-size: 1.55em; // Small heading
  font-weight: 500;
  text-align: center;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .homepage h1 {
    font-size: 2.98em; // Scale down by 20% for mobile
  }

  .homepage h2 {
    font-size: 1.24em; // Scale down by 20% for mobile
  }
}  

/* Homepage image */
#homeImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;

  @media (max-width: 480px) {
    display: none;
  }
}

/**
* New footer css
*/

/* Basic Footer Styles */
footer {
  background-color: vars.$head-foot-color; /*080808*/
  color: vars.$head-foot-text-color; /*#e0e0e0*/
  padding: 20px 0;
  position: relative;
  box-shadow: vars.$shadow-default;
}

.footer-heading {
  color: vars.$head-foot-text-color;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  display: block;
  font-size: small;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  max-width: auto;
}

.footer-column p,
.footer-column a {
  color: vars.$head-foot-text-color;
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  text-align: center;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: vars.$head-foot-text-color;
}

.footer-divider {
  max-width: 800px;
  border-top: 1px solid vars.$head-foot-text-color;
  margin: 20px auto;
}

/* Social Links */
.social-links a {
  color: vars.$head-foot-text-color;
  font-size: small;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;

  svg {
    font-size: 1.5em;
  }

  a {
    color: vars.$grey-color;
  }

  a:hover svg {
    color: vars.$brand-color;
    transform: scale(1.2);
  }
}

/* Responsive Footer (for screens smaller than 768px) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer-column {
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
  }
}

/**
 * Page content
 */
.page-content {
  padding: vars.$spacing-unit 0;
  flex: 1;
}

.page-heading {
  font-size: 2em;
}

.tag-list {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;

  ul {
      padding-left: 1.5em;
  }

  li {
      padding-left: 1.5em;
  }

  code {
      margin-right: 1em;
      margin-bottom: 1em;
  }
}

/**
 * Posts
 */
 .post-meta {
  font-size: vars.$small-font-size;
  font-style: italic;
  color: vars.$text-color;
  gap: 1em;
}

.post-header {
  margin-top: vars.$spacing-unit;
  margin-bottom: vars.$spacing-unit;
}

.post-title {
  margin-bottom: vars.$spacing-unit;
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1;

  @include mixins.media-query(vars.$laptop) {
    @include mixins.relative-font-size(2.25);
  }
}

.post-content {
  margin-top: vars.$spacing-unit;
  margin-bottom: vars.$spacing-unit;

  h1 {
    font-size: 2em;

    @include mixins.media-query(vars.$laptop) {
      @include mixins.relative-font-size(1.75);
    }
  }

  h2 {
    font-size: 1.5em;

    @include mixins.media-query(vars.$laptop) {
      @include mixins.relative-font-size(1.50);
    }
  }

  h3 {
    font-size: 1.17em;

    @include mixins.media-query(vars.$laptop) {
      @include mixins.relative-font-size(1.375);
    }
  }

  h4 {
    font-size: 1.12em;

    @include mixins.media-query(vars.$laptop) {
      @include mixins.relative-font-size(1.125);
    }
  }
}

.post-description {
    margin-top: 1em;
    margin-bottom: 2em;
}

.post-author {
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
    color: vars.$text-color;
}

.post-date {
    font-family: vars.$code-font-family;
    font-size: vars.$code-font-size;
}

.post-reading-time {
    font-family: vars.$code-font-family;
    font-size: vars.$code-font-size;
    color: vars.$text-color;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-tags {
    padding-bottom: 1em;
    border-bottom: 1px dashed black;
}

.post-list-heading {
  @include mixins.relative-font-size(1.75);
}

.post-list {
  font-family: vars.$base-font-family;
  margin-top: vars.$spacing-unit;
  margin-left: 0;
  list-style: none;

  code {
    font-size: vars.$base-font-size;
  }

  a { 
    font-size: vars.$medium-font-size;
  }

  li {
    margin-bottom: vars.$spacing-unit;
  }
}

.post-link {
  display: block;
  @include mixins.relative-font-size(1.5);
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed black;
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
  flex-basis: 45%; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.links-nextprev-next {
	text-align: right;
}

/* Blog RSS */
.blog-rss ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

/* Search */

#search {
  --pagefind-ui-primary: #004225;
  --pagefind-ui-text: #393939;
  --pagefind-ui-font: -apple-system, BlinkMacSystemFont, "Segoe UI";
}

/* Change the color of the Font Awesome search icon */
.icon-link {
  color: vars.$brand-color;
}

/* Style for the dark mode toggle icon */
.dark-mode-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: grey;
  margin-left: 20px;
  transition: transform 0.3s ease;
  font-size: 1rem;

  &:hover {
    transform: rotate(15deg);
    color: grey
  }

  .light-icon {
    display: none;  // Hide sun by default (light mode)
    font-size: 1.1em;
    margin-top: 4px;
  }
  
  .dark-icon {
    display: inline-block;  // Show moon by default (light mode)
    font-size: 1.1em;
    margin-top: 4px;
  }
}

// Header anchor links
.header-anchor {
  color: vars.$grey-color-light;

  &:visited {
  color: vars.$grey-color-light;
  }

  &:hover {
  color: vars.$link-color;
  }
}

// Card Container
.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, vars.$card-size);
  gap: vars.$card-gap-size;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding-top: vars.$spacing-unit;
  margin: auto;
  position: relative;

  @media (max-width: 1100px) {
    grid-template-rows: repeat(3, vars.$card-size-tablet);
  }

  @media (max-width: 768px) {
    grid-template-rows: repeat(3, vars.$card-size-mobile);
  }
}

// Card Styling
.card {
  font-family: vars.$home-font-family;
  width: vars.$card-size;
  height: vars.$card-size;
  background: #f7f7f7;
  color: vars.$brand-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: vars.$medium-font-size;
  font-weight: vars.$base-font-weight;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: vars.$brand-color;
    color: vars.$brand-color-alt;
    transform: scale(1.1);
  }

  @media (max-width: 1100px) {
    width: vars.$card-size-tablet;
    height: vars.$card-size-tablet;
    font-size: vars.$base-font-size;
  }

  @media (max-width: 768px) {
    width: vars.$card-size-mobile;
    height: vars.$card-size-mobile;
    font-size: vars.$xs-font-size;
  }
}

a.card {
  text-decoration: none;
  color: inherit;
}

.card-icons {
  font-size: vars.$xl-font-size;
  margin-bottom: 5px;

  @media (max-width: 1100px) {
    font-size: vars.$large-font-size;
  }

  @media (max-width: 768px) {
    font-size: vars.$base-font-size;
  }
}

// Card Positioning
.card:nth-child(1) { grid-column: 4; grid-row: 1; }
.card:nth-child(2) { grid-column: 2; grid-row: 2; }
.card:nth-child(3) { grid-column: 3; grid-row: 2; }
.card:nth-child(4) { grid-column: 4; grid-row: 2; }
.card:nth-child(5) { grid-column: 5; grid-row: 2; }
.card:nth-child(6) { grid-column: 6; grid-row: 2; }
.card:nth-child(7) { grid-column: 3; grid-row: 3; }
.card:nth-child(8) { grid-column: 4; grid-row: 3; }
.card:nth-child(9) { grid-column: 5; grid-row: 3; }


// Font Awesome icon styling
.icon-svg {
  display: inline;
  vertical-align: middle;
  height: 1em;
  width: 1em;
}
