// Mixins

@use 'variables' as vars;

// Media queries
@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
  }
  
  @mixin relative-font-size($ratio) {
    font-size: vars.$base-font-size * $ratio;
  }

// Common layout styles
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header-section {
  flex: 1 1 25%;
  display: flex;
  align-items: center;
}

// Shared dark mode styles
@mixin darkTheme {
  body {
    color: vars.$text-color-dark;
    background-color: vars.$background-color-dark;
  }
  h1, h2, h3, h4, h5, h6 {
    color: vars.$text-color-dark;
  }
  p {
    color: vars.$text-color-dark;
  }
  a {
    color: vars.$link-color-dark;
  
    &:visited {
      color: vars.$link-color-dark-visited;
    }
  }
  blockquote {
    background-color: vars.$grey-color-dark;
    color: vars.$grey-color-light;
  }
  code {    
    background-color: vars.$grey-color-dark;
    color: vars.$text-color-dark;
    border: 1px solid vars.$grey-color-dark;
  }
  .highlight {
      background: vars.$grey-color-dark;
      border-color: vars.$grey-color-dark;
      
      .highlighter-rouge & {
        background: vars.$grey-color-dark;
        border-color: vars.$grey-color-dark;
      }
  }
  table {
    color: vars.$table-text-color-dark;
    border: 1px solid vars.$background-color;
    tr {
      &:nth-child(even) {
        background-color: vars.$grey-color-dark;
      }
    }
    th {
      background-color: vars.$background-color-dark;
      border: 1px solid vars.$background-color;
      border-bottom-color: vars.$table-th-border-bottom-color;
    }
    td {
      border: 1px solid vars.$background-color;
    }
  }
  .site-header {
    background-color: vars.$head-foot-color-dark;
    color: vars.$head-foot-text-color-dark;
  }
  .site-title {
    a {
      color: vars.$brand-color-alt;

      &:hover {
        text-decoration: none;
      }
    
      &:visited {
      color: vars.$brand-color-alt;
      }
    }
  }
  .nav-list {
    a {
    color: vars.$head-foot-text-color-dark;
    
    &:hover,
    &:visited {
      color: vars.$head-foot-text-color-dark;
      }
    }
  }
  .nav-toggle-label {
    span {
      background: vars.$head-foot-text-color-dark;
    }
  }
  .main-nav {
    background-color: vars.$head-foot-color-dark;
    color: vars.$head-foot-text-color-dark;
  }
  .btn {
    background-color: vars.$brand-color-alt;
    border-color: vars.$brand-color-alt;
  }
  a.btn {
    color: vars.$brand-color;
    text-decoration: none;
    text-align: center;
  }
  .homepage {
    color: vars.$brand-color-alt;
    background-color: vars.$background-color-dark;
  }
  .homepage h1 {
    color: vars.$brand-color-alt;
  }
  .homepage h2 {
    color: vars.$brand-color-alt;
  }
  #homeImage {
    padding-bottom: 1em;
    border-radius: 1%;
  }
  footer {
    background-color: vars.$head-foot-color-dark;
    color: vars.$head-foot-text-color-dark;
  }
  .footer-heading {
    color: vars.$head-foot-text-color-dark;
  }
  .footer-column {
    p, a {
    color: vars.$head-foot-text-color-dark;
    }
  }
  .social-icons a:hover svg {
    color: vars.$brand-color-alt;
  }
  .post-meta {
    color: vars.$text-color-dark;
  }
  .post-tags {
    border-bottom: 1px dashed white;
  }
  .links-nextprev {
    border-top: 1px dashed white;
  }
  #search {
    --pagefind-ui-primary: #FFBF47;
    --pagefind-ui-text: #fcfcfc;
    --pagefind-ui-background: #343434;
    --pagefind-ui-border: #1c1c1c;
  }
  .icon-link {
    color: vars.$text-color-dark;
  }
  .dark-mode-toggle {
    color: vars.$brand-color-alt;
    
    .light-icon {
      display: inline-block;  // Show sun in dark mode
    }
    
    .dark-icon {
      display: none;  // Hide moon in dark mode
    }
  }
  .header-anchor {
    color: vars.$grey-color-light;

    &:visited {
      color: vars.$grey-color-light;
    }

    &:hover {
      color: vars.$link-color-dark;
    }
  }
  .card {
    background: vars.$grey-color-dark;
    color: vars.$text-color-dark;

    &:hover {
      background: vars.$brand-color;
      color: vars.$brand-color-alt;
    }
  }
  a.card {
    color: vars.$text-color-dark;
    text-decoration: none;
  }
}
